.navbar{
    background-color:#E6BB4E ;
    margin:0;
    height:100px;
}
.nav-header {
    position: relative;
    left:35px;
    top:10px;
}
.nav-subheader{
    position: relative;
    left: 70px;
}
